<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CarManager</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>loginServlet</servlet-name>
  	<servlet-class>com.artisan.web.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CarBrandListServlet</servlet-name>
  	<servlet-class>com.artisan.web.CarBrandListServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CarBrandDeleteServlet</servlet-name>
  	<servlet-class>com.artisan.web.CarBrandDeleteServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CarBrandAddServlet</servlet-name>
  	<servlet-class>com.artisan.web.CarBrandAddServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CarListServlet</servlet-name>
  	<servlet-class>com.artisan.web.CarListServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CarAddServlet</servlet-name>
  	<servlet-class>com.artisan.web.CarAddServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CarDeleteServlet</servlet-name>
  	<servlet-class>com.artisan.web.CarDeleteServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CarBrandComboListServlet</servlet-name>
  	<servlet-class>com.artisan.web.CarBrandComboListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>loginServlet</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CarBrandListServlet</servlet-name>
  	<url-pattern>/carBrandList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CarBrandDeleteServlet</servlet-name>
  	<url-pattern>/carBrandDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CarBrandAddServlet</servlet-name>
  	<url-pattern>/carBrandAdd</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>CarListServlet</servlet-name>
  	<url-pattern>/carList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CarDeleteServlet</servlet-name>
  	<url-pattern>/carDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CarAddServlet</servlet-name>
  	<url-pattern>/carAdd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CarBrandComboListServlet</servlet-name>
  	<url-pattern>/carBrandComboList</url-pattern>
  </servlet-mapping>
</web-app>